In [1]:
import pandas as pd

In [4]:
mwe1 = pd.DataFrame.from_dict({('becnhmark1', 'data1'): [1, 2, 3]}).rename(index={0: 'w', 1: 'x', 2: 'y'})

In [5]:
mwe1

  becnhmark1
       data1
w          1
x          2
y          3

In [6]:
mwe2 = pd.DataFrame.from_dict({('benchmark2', 'data1'): [4, 5, 6]}).rename(index={0: 'x', 1: 'y', 2: 'z'})

In [7]:
mwe2

  benchmark2
       data1
x          4
y          5
z          6

In [8]:
pd.concat([mwe1, mwe2], axis=1)

  becnhmark1 benchmark2
       data1      data1
w        1.0        NaN
x        2.0        4.0
y        3.0        5.0
z        NaN        6.0

In [9]:
mwe1.join(mwe2, how='inner')

  becnhmark1 benchmark2
       data1      data1
x          2          4
y          3          5